* {
    box-sizing: border-box;
}

:root {
    --bg-body: #FFFFFF;
    --bg-main: #EEEEEE;
}

body {
    background-color: var(--bg-body);
    font-family: 'Roboto', sans-serif;
}

#main {
    text-align: center;
    background-color: var(--bg-main);
}

#title {
    font-size: 2.5em;
}

figure .image {
    display: block;
    max-width: 100%;
    height: auto;
}

.bold {
    font-weight: 700;
}